<!DOCTYPE HTML>
<html>
    <head>
        <title>About us</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css"> 
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This side is created by Mayur beldar. It uses Data from mapbox.com and darksky.net! <br>
                 Node js backend
             </p>
        <img class="portrait" src="/img/me.jpg">
        </div>
       
        {{>footer}}
    </body>

</html>