<!DOCTYPE HTML>
<html>
    <head> 
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css"> 
        
        
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This website is useful for weather information.<br> Type your location for waether. <br> do check tab also. </p>
        <form>
            <input placeholder="Location">
            <button>submit</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        </div>
        {{>footer}}     
       <script src="/js/app.js"></script>
    </body>
</html>